body {margin:0;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Sportscenter.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(../fonts/font-delirium/FTY_DELIRIUM_NCV.ttf);
}

@font-face {
    font-family: myThirdFont;
    src: url(../fonts/font-strategycide/FTYSTRATEGYCIDENCV.ttf);
}

.container {

  position: relative ;
  width: 850px;
  background-color: #f0ca4d;
  margin: 0 auto;
  height: 3290px;
}

/*-----NAV START-------*/

.navbar {

  border-bottom: solid #640264 2px;
  overflow: hidden;
  background: linear-gradient(-45deg, #b25f2b, #e17637);
  position: fixed;
  top: 0;
  width: 850px;
  margin: 0 auto;



}

.navbar img {

  height: 67px;
  margin: 6px;
  padding: 2px;
}



.navbar a {
  float: right;
  display: block;
  font-family: mySecondFont;
  font-weight: ;
  text-transform: capitalize;
  color: #324d5c;
  text-align: center;
  padding: 22px 15px 14px 15px;
  margin:0px 6px 0px 0px;
  text-decoration: none;
  font-size: 50px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}



/*-----NAV END-------*/



/*-----HEADER START-------*/



  /*-----PARALAX START-------*/


  .paralax {
    /* The image used */

      background-image: url("../slike/kos.jpeg");

      /* Set a specific height */
      min-height: 800px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

  }

  /*-----[PARALAX END]-------*/




/*-----HEADER END-------*/





/*-----ARTICLE START-------*/




article {

  border-top: solid #640264 2px;
  padding-top: 70px;



}

article h1 {
  background: -webkit-linear-gradient(#324d5c, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: myThirdFont;
  text-align: center;
  font-size: 50px;
  color: #13312c;

}



main article p , h3,ul li {
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
  padding: 0 50px 0 50px;
  text-align: left;
  color: #1b2a32;

}

main article li{
  list-style-type: none;

}

/*-----ARTICLE END-------*/


/*-----BUTTON START-------*/

button{

  cursor: pointer;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #f89a05;
  width: 100%;
  font-size: 50px;
  height: 175px;
  background-color: #640264;
  border: solid #5d035d 5px;
}
button:hover{
  cursor: pointer;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #fcfe02;
  width: 100%;
  font-size: 50px;
  height: 175px;
  background-color: #040264;
  border: solid #030161 5px;
  }

/*-----BUTTON END-----*/


/*-----FORM START-------*/

form{
  margin: 20px 25px 20px 25px;
  padding: 15px;
  font-family: 'Roboto Slab', serif;
  background: linear-gradient(-75deg, #f0ca4d, #ddba49);

}

.levi {
  float: left;
  width: 303px;
  margin-right: 10px;
  padding: 25px 25px 0px 25px;
  height: 320px;
}

.desni {
  float: right;
  width: 303px;
  margin-left: 10px;
  padding: 25px 25px 0px 25px;
  height: 320px;
}

.submit {
  margin-top: 30px;
  margin-left: calc(50% - 75px) ;
  width: 150px;
  font-size: 30px;



}

/*-----FORM END-------*/


/*------ASIDE START-----*/


aside {
  float: left;
  width: 28%;
  height: 484px;
  background: linear-gradient(-67deg, #f0ca4d, #e5c04b);
  margin:0 1%;
}

aside h4 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}

 aside ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

aside ul  li{
  margin: 15px 0;
  padding:15px 2px;
  text-align: center;

}

aside h4 {
  background: -webkit-linear-gradient(#324d5c, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: mySecondFont;
  font-size: 39px;

}
aside a{
  text-decoration: none;
}

aside a:link {
  color: #de344f;


}

aside a:visited {
  color:  #de344f;


}

aside a:hover{
  color: #f7e1d4;
  background-color: #e37b40;
}

aside a:active{
  background-color: #f53855;
  color: #2b4350;

}

 /*------ASIDE END-----*/




/*-----SCTION START-------*/



section {
  float: right;
  width: 70%;
  height: 500px;
}



.direktor {
  border-top: solid #720b5c 2px;
  float: left;
  width: 280px;
  height: 452px;
  background: linear-gradient(-77deg,#640264, #f0ca4d);

  padding-top: 30px;
  margin-right: 17px;
}

.trener {
  border-top: solid #640264 2px;
  float: left;
  width: 280px;
  height: 452px;
  background: linear-gradient(-77deg, #ddba49, #640264);

  padding-top: 30px;
}

.heding {
  border-bottom: solid #720b5c 2px;
}

.heding h4{
    text-align: center;
    font-family: myFirstFont;
    font-size: 29px;
    padding-bottom: 9px;
    margin: 0px;

}

.podaci {
  margin-top: 20px;
  border-top: solid #720b5c 2px;
  border-bottom: solid #720b5c 2px;
}

.podaci h5 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 21px;
  padding: 0;
  margin: 0;

}
.pozadina {
  background-color:  #a4283d;

  width: 270px;
  height: 335px;
  padding: 6px 0 0px 0px;
  margin-left:  5px;
  margin-top: 20px;

}

.slika {
  background-image: url("../slike/direktor.jpg");

  background-size: cover;

  width: 270px;
  height: 330px;


}

.slika2 {
  background-image: url("../slike/trener3.jpg");

  background-size: cover;

  width: 270px;
  height: 330px;



}


/*-----SCTION END-------*/





/*-----AUDIO VIDEO START-------*/



.audio-video {
  background: linear-gradient(-67deg, #f0ca4d, #e5c04b);
  width: 96%;
  height: 400px;
  margin-top: 600px;
  margin-left: 2%;
  margin-right: 2%;

  background-color: gray;
}

.video {
  float: left;
  width: 46%;
  padding: 0% 1%;
}
.naziv  {
  font-family: myFirstFont;
  color: #1b2a32;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

video {
  width: 100%;
  height:  282px;
}

.audio {
  float: right;
  width: 46%;
  padding: 0 1%;



}

audio {
  width: 100%;
  height:  282px;
}

/*-----AUDIO VIDEO END-------*/




/*-----FOOTER START-------*/

footer {
  text-align: center;
  background: linear-gradient(-67deg, #b25f2b, #e18637);
  margin-top: 50px;
}

footer p {
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
  margin: 7px;
  color: #1b2a32;
}

footer h1 {
  background: -webkit-linear-gradient(#324d5c, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: mySecondFont;
  font-size: 60px;
  padding: 10px 0px 0px 0px;
  margin: 0;
}

/*-----FOOTER END-------*/
